.cpu {
  /* width: 3.1rem; */
  /* height: 22px; */
  display: flex;           
  align-items: center;        
  justify-content: center;    
  border-radius: 4px;
  padding: 0 3px;             
  margin: 0 1px 0 0;          
  height: 22px;               
  /* gap: 1.5rem; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  &:hover {
    animation: hoverbutton 0.1s ease forwards;
    -webkit-animation: hoverbutton 0.1s ease forwards;
  }
}

.i-cpu {
  font-size: 13px;
  width: 14px;              
  display: inline-block;     
  line-height: 1;            
  margin-right: 5px;         
}

.cpu-bar {
  display: flex;             
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 1.8rem;         
}

.cpu.clicked-animated .content {
  animation: appear 0.2s ease;
  -webkit-animation: appear 0.2s ease;
  -moz-animation: appear 0.2s ease;
  -ms-animation: appear 0.2s ease;
  -o-animation: appear 0.2s ease;
}

button {
  display: flex;
  align-items: center;
  text-shadow: 0 0 2px black;
  margin: 0 1px 0 0;
  padding: 0 3px 0 3px;
  height: 22px;
  color: #fff;
  border: none;
  background: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

button:hover {
  animation: hoverbutton 0.1s ease forwards;
  -webkit-animation: hoverbutton 0.1s ease forwards;
}