.cpu {
  display: flex;           
  padding: 0 2px;
  margin: 0 2px;
  align-items: center;        
  justify-content: center;    
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  &:hover {
    animation: hoverbutton 0.1s ease forwards;
    -webkit-animation: hoverbutton 0.1s ease forwards;
  }
}

.i-cpu {
  font-size: 14px;
  width: 16px;              
  height: 16px;
  padding: 2px 0;
  display: inline-block;     
  line-height: 1;            
}

.cpu-bar {
  display: flex;             
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 1.8rem;         
}

.cpu.clicked-animated .content {
  animation: appear 0.2s ease;
  -webkit-animation: appear 0.2s ease;
  -moz-animation: appear 0.2s ease;
  -ms-animation: appear 0.2s ease;
  -o-animation: appear 0.2s ease;
}