.cpu {
  display: flex;
  width: 3.6rem;
  align-items: center;
  justify-content: center;

  .i {
    padding: 2px 0;
    width: 16px;
    font-size: 14px;
  }

  &.clicked-animated .content {
    animation: appear 0.2s ease;
    -webkit-animation: appear 0.2s ease;
  }
}

.i-cpu {
  font-size: 14px;
  width: 16px;
  height: 16px;
  padding: 2px 0;
  display: inline-block;
  line-height: 1;
}

.cpu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 16px;
  width: 2.3rem;
  overflow: hidden;
  opacity: 1;
}