.battery {
  display: flex;
  color: var(--white);
  width: 3.6rem;
  &.clicked-animated .content {
    animation: appear 0.2s ease;
  }
}

.battery:hover {
  animation: hoverbutton 0.1s ease forwards;
}

.i-battery {
  width: 24px;
  height: 24px;
  margin: 2px 6px 0 0;
  filter: brightness(0) invert(1);
}